@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 640px) {

    /* Target mobile screens */
    .categorical-container {
        -ms-overflow-style: none;
        /* For Internet Explorer and Edge */
        scrollbar-width: none;
        /* For Firefox */
    }

    .categorical-container::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari, and Opera */
    }
}